button{
    width: 400px;
    height: 400px;
    background-color:gray;
}
h1{
    color: rgb(3, 184, 184);
    font-family: Dancing Script;
    font-size: 15rem;
    text-align: center;
    margin: auto;
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 40px purple,
    0 0 70px purple,
    0 0 80px purple,
    0 0 100px purple,
    0 0 150px purple;

}

.container{
    border: 10px solid rgb(56, 236, 236);
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1200px;
    margin: auto;
    margin-top:30em;
    padding: 10em;
    box-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 40px purple,
    0 0 70px purple,
    0 0 80px purple,
    0 0 100px purple,
    0 0 150px purple;
}